<div class="col">NOWY</div>
<div class="col" ng-repeat="fieldName in fieldNamesButIdToRetrieve">
    <tags-input ng-if="columnIsArray[$index+1]" ng-model="newStudent[fieldName]"
                placeholder="dodaj nowe {{fieldNamesColumnHeaders[$index+1]}}" replace-spaces-with-dashes="false">
    </tags-input>
    <input ng-if="!columnIsArray[$index+1]" type="text"
           placeholder="{{fieldNamesColumnHeaders[$index+1]}}"
           ng-model="newStudent[fieldName]">
</div>
<div class="col">
    <button type="submit" class="btn btn-success" ng-click="createStudent()"
            ng-disabled="newStudentForm.$invalid">
        <i class="fas fa-plus-circle"></i>
    </button>
    <button type="button" class="btn btn-danger" ng-click="cancelCreation()">
        <i class="fas fa-undo-alt"></i>
    </button>
</div>