<td>NOWY</td>
<td ng-repeat="fieldName in fieldNamesButIdToRetrieve"><input type="text"
                                                              placeholder="{{fieldNamesColumnHeaders[$index+1]}}"
                                                              ng-model="newStudent[fieldName]"></td>
<td>
    <button type="submit" class="btn btn-success" ng-click="createStudent()"
            ng-disabled="newStudentForm.$invalid">
        <i class="fas fa-plus-circle"></i>
    </button>
    <button type="button" class="btn btn-danger" ng-click="cancelCreation()">
        <i class="fas fa-undo-alt"></i>
    </button>
</td>