<!DOCTYPE html>
<html lang="en" ng-app="wd-students">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-controller="StudentCtrl as ctrl">
<div class="container-fluid">
    <h1>Wirtualny dziekanat 2.0</h1>
    <p>{{ctrl.mod}}</p>

    <object-view>
    </object-view>
</div>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-resource.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<script type="text/javascript">
    angular.module('wd-students', ['ngResource'])
        .controller('StudentCtrl', ['StudentService', '$http', 'AddEditedFilter', function (studentSrv, $http, AddEditedFilter) {
            var self = this;
            self.mod = 'Hello World!';
//            self.students = [];
//            self.fieldNamesColumnHeaders = ['#', 'First Name', 'Last Name', 'Program', 'Age', 'PESEL'];
//            self.fieldNamesToRetrieve = ['id', 'first_name', 'last_name', 'program', 'age', 'pesel'];
//            self.fieldNamesButIdToRetrieve = ['first_name', 'last_name', 'program', 'age', 'pesel'];
//            self.newStudent = {};
//            self.editedStudents = {};
//            var fetchStudents = function () {
//                self.students = studentSrv.query();
//                var len = self.students.length;
//                for (var i = 0; i < len; i++) {
//                    self.students[i] = AddEditedFilter(self.students[i]);
//                }
//            };
//            var fetchOnlySingle = function (id) {
//                var student = studentSrv.get({id: id});
//                console.log('downloaded student is: ' + angular.toJson(student));
//                modifyStudentById(id, student);
//            };
//            var resetNewStudent = function () {
//                self.newStudent = {};
//            };
//            var resetEditedStudent = function (id) {
//                delete self.editedStudents[id];
//            };
//            var setEditedStudent = function (id, newValue) {
//                var len = self.students.length;
//                for (var i = 0; i < len; i++) {
//                    if (self.students[i].id == id) {
//                        self.students[i].edited = newValue;
//                    }
//                }
//            };
//            var getStudentById = function (id) {
//                var len = self.students.length;
//                for (var i = 0; i < len; i++) {
//                    if (self.students[i].id == id) {
//                        return self.students[i];
//                    }
//                }
//                return {};
//            };
//            var modifyStudentById = function (id, student) {
//                var len = self.students.length;
//                for (var i = 0; i < len; i++) {
//                    if (self.students[i].id == id) {
//                        self.students[i] = student;
//                        return;
//                    }
//                }
//                self.students.append(student);
//            };
//            self.editStudent = function (id) {
//                console.log('trying to edit student of id: ' + id);
//                setEditedStudent(id, true);
//                self.editedStudents[id] = getStudentById(id);
//            };
//            self.deleteStudent = function (student) {
//                console.log('try to delete student of id: ' + student.id);
//                studentSrv.delete(student).$promise
//                    .then(fetchStudents);
//            };
//            self.createStudent = function () {
//                console.log('create new student: ' + self.newStudent);
//                studentSrv.save(self.newStudent).$promise
//                    .then(fetchStudents)
//                    .then(resetNewStudent);
//            };
//            self.modifyStudent = function (id) {
//                console.log('change student: ' + angular.toJson(self.editedStudents[id]));
//                studentSrv.save({id: self.editedStudents[id].id}, self.editedStudents[id]).$promise
//                    .then(function () {
//                        setEditedStudent(id, false);
//                    })
//                    .then(function () {
//                        fetchOnlySingle(id);
//                    });
//            };
//            self.cancelEditionOf = function (id) {
//                console.log('try to cancel edition of student of id: ' + id);
//                resetEditedStudent(id);
//                setEditedStudent(id, false);
//            };
//            self.cancelCreation = function () {
//                console.log('try to cancel creation of new student');
//                resetNewStudent();
//            };
//
//            fetchStudents();
        }])
        .factory('StudentService', ['$resource', function ($resource) {
            return $resource('/api/student/:id', {id: '@id'});
        }])
        .filter('AddEdited', [function () {
            return function (obj) {
                obj.edited = false;
                return obj;
            };
        }]);
</script>
<script src="object_view_directive.js"></script>
</body>
</html>
