<!DOCTYPE html>
<html lang="en" ng-app="wd-students">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-controller="StudentCtrl as ctrl">
<div class="container-fluid">
    <h1>Wirtualny dziekanat 2.0</h1>
    <p>{{ctrl.mod}}</p>
    <div class="table-responsive">
        <form name="newStudentForm">
            <table class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Program</th>
                    <th>Age</th>
                    <th>PESEL</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody ng-repeat="student in ctrl.students">
                <tr ng-if="!student.edited">
                    <td ng-bind="::student.id"></td>
                    <td ng-bind="::student.first_name"></td>
                    <td ng-bind="::student.last_name"></td>
                    <td ng-bind="::student.program"></td>
                    <td ng-bind="::student.age"></td>
                    <td ng-bind="::student.pesel"></td>
                    <td>
                        <button type="button" class="btn btn-success" ng-click="ctrl.editStudent(student.id)">
                            <span class="glyphicon glyphicon-edit glyphicon-white"></span>
                        </button>
                        <button type="button" class="btn btn-danger" ng-click="ctrl.deleteStudent(student)">
                            <span class="remove glyphicon glyphicon-remove-sign glyphicon-white"></span>
                        </button>
                    </td>
                </tr>
                <tr ng-if="student.edited">
                    <td ng-bind="::student.id"></td>
                    <td><input type="text" ng-value="student.first_name"
                               ng-model="ctrl.editedStudents[student.id].first_name"></td>
                    <td><input type="text" ng-value="student.last_name"
                               ng-model="ctrl.editedStudents[student.id].last_name"></td>
                    <td><input type="text" ng-value="student.program"
                               ng-model="ctrl.editedStudents[student.id].program"></td>
                    <td><input type="text" ng-value="student.age" ng-model="ctrl.editedStudents[student.id].age"></td>
                    <td><input type="text" ng-value="student.pesel" ng-model="ctrl.editedStudents[student.id].pesel">
                    </td>
                    <td>
                        <button type="submit" class="btn btn-success" ng-click="ctrl.modifyStudent(student.id)"
                                ng-disabled="newStudentForm.$invalid">
                            <span class="glyphicon glyphicon-ok glyphicon-white"></span>
                        </button>
                        <button type="button" class="btn btn-danger" ng-click="ctrl.cancelEditionOf(student.id)">
                            <span class="remove glyphicon glyphicon-remove-sign glyphicon-white"></span>
                        </button>
                    </td>
                </tr>
                <tr ng-if="$last" ng-include="'create_student.html'">
                </tr>
                </tbody>
                <tbody ng-if="!ctrl.students.length">
                <tr ng-include="'create_student.html'">
                </tr>
                </tbody>
            </table>
        </form>
    </div>

    <div class="table-responsive">
        <form name="newStudentForm">
            <table class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th ng-repeat="fieldName in ctrl.fieldNamesColumnHeaders" ng-bind="::fieldName"></th>
                </tr>
                </thead>
                <tbody ng-repeat="student in ctrl.students">
                <tr ng-if="!student.edited">
                    <td ng-repeat="fieldName in ctrl.fieldNamesToRetrieve" ng-bind="$parent.student[fieldName]"></td>
                    <td>
                        <button type="button" class="btn btn-success" ng-click="ctrl.editStudent(student.id)">
                            <span class="glyphicon glyphicon-edit glyphicon-white"></span>
                        </button>
                        <button type="button" class="btn btn-danger" ng-click="ctrl.deleteStudent(student)">
                            <span class="remove glyphicon glyphicon-remove-sign glyphicon-white"></span>
                        </button>
                    </td>
                </tr>
                <tr ng-if="student.edited">
                    <td ng-bind="::student.id"></td>
                    <td ng-repeat="fieldName in ctrl.fieldNamesButIdToRetrieve"><input type="text"
                                                                                       ng-value="$parent.student[fieldName]"
                                                                                       ng-model="ctrl.editedStudents[$parent.student.id][fieldName]">
                    </td>
                    <td>
                        <button type="submit" class="btn btn-success" ng-click="ctrl.modifyStudent(student.id)"
                                ng-disabled="newStudentForm.$invalid">
                            <span class="glyphicon glyphicon-ok glyphicon-white"></span>
                        </button>
                        <button type="button" class="btn btn-danger" ng-click="ctrl.cancelEditionOf(student.id)">
                            <span class="remove glyphicon glyphicon-remove-sign glyphicon-white"></span>
                        </button>
                    </td>
                </tr>
                <tr ng-if="$last" ng-include="'create_object.html'">
                </tr>
                </tbody>
                <tbody ng-if="!ctrl.students.length">
                <tr ng-include="'create_object.html'">
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-resource.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<script type="text/javascript">
    angular.module('wd-students', ['ngResource'])
        .controller('StudentCtrl', ['StudentService', '$http', 'AddEditedFilter', function (studentSrv, $http, AddEditedFilter) {
            var self = this;
            self.mod = 'Hello World!';
            self.students = [];
            self.fieldNamesColumnHeaders = ['#', 'First Name', 'Last Name', 'Program', 'Age', 'PESEL'];
            self.fieldNamesToRetrieve = ['id', 'first_name', 'last_name', 'program', 'age', 'pesel'];
            self.fieldNamesButIdToRetrieve = ['first_name', 'last_name', 'program', 'age', 'pesel'];
            self.newStudent = {};
            self.editedStudents = {};
            var fetchStudents = function () {
                self.students = studentSrv.query();
                var len = self.students.length;
                for (var i = 0; i < len; i++) {
                    self.students[i] = AddEditedFilter(self.students[i]);
                }
            };
            var fetchOnlySingle = function (id) {
                var student = studentSrv.get({id: id});
                console.log('downloaded student is: ' + angular.toJson(student));
                modifyStudentById(id, student);
            };
            var resetNewStudent = function () {
                self.newStudent = {};
            };
            var resetEditedStudent = function (id) {
                delete self.editedStudents[id];
            };
            var setEditedStudent = function (id, newValue) {
                var len = self.students.length;
                for (var i = 0; i < len; i++) {
                    if (self.students[i].id == id) {
                        self.students[i].edited = newValue;
                    }
                }
            };
            var getStudentById = function (id) {
                var len = self.students.length;
                for (var i = 0; i < len; i++) {
                    if (self.students[i].id == id) {
                        return self.students[i];
                    }
                }
                return {};
            };
            var modifyStudentById = function (id, student) {
                var len = self.students.length;
                for (var i = 0; i < len; i++) {
                    if (self.students[i].id == id) {
                        self.students[i] = student;
                        return;
                    }
                }
                self.students.append(student);
            };
            self.editStudent = function (id) {
                console.log('trying to edit student of id: ' + id);
                setEditedStudent(id, true);
                self.editedStudents[id] = getStudentById(id);
            };
            self.deleteStudent = function (student) {
                console.log('try to delete student of id: ' + student.id);
                studentSrv.delete(student).$promise
                    .then(fetchStudents);
            };
            self.createStudent = function () {
                console.log('create new student: ' + self.newStudent);
                studentSrv.save(self.newStudent).$promise
                    .then(fetchStudents)
                    .then(resetNewStudent);
            };
            self.modifyStudent = function (id) {
                console.log('change student: ' + angular.toJson(self.editedStudents[id]));
                studentSrv.save({id: self.editedStudents[id].id}, self.editedStudents[id]).$promise
                    .then(function () {
                        setEditedStudent(id, false);
                    })
                    .then(function () {
                        fetchOnlySingle(id);
                    });
            };
            self.cancelEditionOf = function (id) {
                console.log('try to cancel edition of student of id: ' + id);
                resetEditedStudent(id);
                setEditedStudent(id, false);
            };
            self.cancelCreation = function () {
                console.log('try to cancel creation of new student');
                resetNewStudent();
            };

            fetchStudents();
        }])
        .factory('StudentService', ['$resource', function ($resource) {
            return $resource('/api/student/:id', {id: '@id'});
        }])
        .filter('AddEdited', [function () {
            return function (obj) {
                obj.edited = false;
                return obj;
            };
        }]);
</script>
</body>
</html>
