<!DOCTYPE html>
<html lang="en" ng-app="wd-students">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-controller="StudentCtrl as ctrl">
<div class="container-fluid">
    <h1>Wirtualny dziekanat 2.0</h1>
    <p>{{ctrl.mod}}</p>

    <object-view object-name="'Panel Studentów'"
                 column-headers-with-id="ctrl.columnHeaders"
                 field-names-but-id="ctrl.fieldNamesButId"
                 object-service="ctrl.StudentService">
    </object-view>
</div>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-resource.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<script type="text/javascript">
    angular.module('wd-students', ['ngResource'])
        .controller('StudentCtrl', ['StudentService', function (studentSrv) {
            var self = this;
            self.mod = 'Hello World!';
            self.columnHeaders = ['#', 'First Name', 'Last Name', 'Program', 'Age', 'PESEL'];
            self.fieldNamesButId = ['first_name', 'last_name', 'program', 'age', 'pesel'];
            self.StudentService = studentSrv;
        }])
        .factory('StudentService', ['$resource', function ($resource) {
            return $resource('/api/student/:id', {id: '@id'});
        }])
        .filter('AddEdited', [function () {
            return function (obj) {
                obj.edited = false;
                return obj;
            };
        }]);
</script>
<script src="object_view_directive.js"></script>
</body>
</html>
