<div id="header">
    <h1>Wirtualny dziekanat 2.0</h1>
</div>
<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="p-4">
            <h4>Menu</h4>
            <!--<span class="text-muted">Toggleable via the navbar brand.</span>-->
            <ul>
                <li class="nav-item active"><a class="nav-link" href="#!">Strona główna</a></li>
                <li class="nav-item"><a class="nav-link" href="#!/student">Panel Studentów</a></li>
                <li class="nav-item"><a class="nav-link" href="#!/teacher">Panel Nauczycieli Akademickich</a></li>
                <li class="nav-item"><a class="nav-link" href="#!/building">Panel Budynków i Sal</a></li>
                <li class="nav-item"><a class="nav-link" href="#!/room">Panel Sal</a></li>
                <li class="nav-item"><a class="nav-link" href="#!/program">Panel Programów Studiów</a></li>
                <li class="nav-item"><a class="nav-link" href="#!/course">Panel Oferowanych Kursów</a></li>
                <li class="nav-item"><a class="nav-link" href="#!/timetable">Aktualny plan zajęć</a></li>
            </ul>
        </div>
    </div>
    <nav class="navbar navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
                aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</div>