<div class="table-responsive">
    <h3 ng-bind="::objectName"></h3>
    <form name="newStudentForm">
        <table class="table table-hover table-condensed">
            <thead>
            <tr>
                <th ng-repeat="fieldName in fieldNamesColumnHeaders" ng-bind="::fieldName"></th>
            </tr>
            </thead>
            <tbody ng-repeat="student in students">
            <tr ng-if="!student.edited">
                <td ng-repeat="fieldName in fieldNamesToRetrieve" ng-bind="$parent.student[fieldName]"></td>
                <td>
                    <button type="button" class="btn btn-success" ng-click="editStudent(student.id)">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="deleteStudent(student)">
                        <i class="fas fa-times-circle"></i>
                    </button>
                </td>
            </tr>
            <tr ng-if="student.edited">
                <td ng-bind="::student.id"></td>
                <td ng-repeat="fieldName in fieldNamesButIdToRetrieve"><input type="text"
                                                                              ng-value="$parent.student[fieldName]"
                                                                              ng-model="editedStudents[$parent.student.id][fieldName]">
                </td>
                <td>
                    <button type="submit" class="btn btn-success" ng-click="modifyStudent(student.id)"
                            ng-disabled="newStudentForm.$invalid">
                        <i class="fas fa-check-circle"></i>
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="cancelEditionOf(student.id)">
                        <i class="fas fa-undo-alt"></i>
                    </button>
                </td>
            </tr>
            <tr ng-if="$last" ng-include="'create_object.html'">
            </tr>
            </tbody>
            <tbody ng-if="!students.length">
            <tr ng-include="'create_object.html'">
            </tr>
            </tbody>
        </table>
    </form>
</div>