<!DOCTYPE html>
<html lang="en" ng-app="wd-timetable">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/timetablejs.css">
</head>
<body ng-controller="TimeTableCtrl as ctrl">
<div class="container-fluid">
    <div id="menu-bar" ng-include="'menu.html'"></div>
    <h3>Monday</h3>
    <div id="ttmonday" class="timetable"></div>
    <h3>Tuesday</h3>
    <div id="tttuesday" class="timetable"></div>
    <h3>Wednesday</h3>
    <div id="ttwednesday" class="timetable"></div>
    <h3>Thursday</h3>
    <div id="ttthursday" class="timetable"></div>
    <h3>Friday</h3>
    <div id="ttfriday" class="timetable"></div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-resource.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.min.js"></script>

<script src="assets/timetable.js"></script>


<script type="text/javascript">
    angular.module('wd-timetable', ['ngResource'])
        .controller('TimeTableCtrl', ['TimeTableItemService', 'TimeTableLocationService', function (Item, Location) {
            var self = this;
            self.mod = 'Hello World!';
            self.locations = [];
            self.dayTimeTable = [];
            var forEachTimeTableExecute = function (foo) {
                for (var i = 0; i < self.dayTimeTable.length; i++) {
                    foo(self.dayTimeTable[i], i);
                }
            };
            var resetTimeTable = function () {
                for (var i = 0; i < 5; i++) {
                    self.dayTimeTable[i] = new Timetable();
                }
            };
            var fetchLocations = function () {
                //self.locations = Location.query();
                self.locations = ['Loc1', 'Loc2', 'Loc3'];
                forEachTimeTableExecute(function (t, i) {
                    t.addLocations(self.locations);
                });
            };
            var addEventsToTimeTable = function (timeTable, events) {
                for (var i = 0; i < events.length; i++) {
                    var item = events[i];
                    timeTable.addEvent(item.eventname, item.location, new Date(item.startdate), new Date(item.enddate), item.url);
                }
            };
            var fetchTimeTableItems = function () {
                //var items = TimeTableItem.query();
                var items = [{
                    eventname: 'Event1',
                    location: 'Loc2',
                    startdate: '2018-05-23T10:00:00Z',
                    enddate: '2018-05-23T12:00:00Z',
                    url: '/timetable/item/100'
                },
                    {
                        eventname: 'Event2',
                        location: 'Loc1',
                        startdate: '2018-05-23T10:00:00Z',
                        enddate: '2018-05-23T12:00:00Z',
                        url: '/timetable/item/101'
                    },
                    {
                        eventname: 'Event3',
                        location: 'Loc3',
                        startdate: '2018-05-16T12:00:00Z',
                        enddate: '2018-05-16T14:00:00Z',
                        url: '/timetable/item/102'
                    },
                    {
                        eventname: 'Event4',
                        location: 'Loc3',
                        startdate: '2018-05-16T10:00:00Z',
                        enddate: '2018-05-16T12:00:00Z',
                        url: '/timetable/item/103'
                    }];
//                for (var i =0; i < items.length; i++) {
//                    var item = items[i];
//                    self.timetable.addEvent(item.eventname, item.location, new Date(item.startdate), new Date(item.enddate), item.url);
//                }
                var eventsPerDay = [items, [], [], items, []];
                forEachTimeTableExecute(function (timetable, i) {
                    addEventsToTimeTable(timetable, eventsPerDay[i]);
                });
            };
            var renderTimeTable = function (timetable, placeholdername) {
                var renderer = new Timetable.Renderer(timetable);
                renderer.draw(placeholdername);
            };
            var renderTimeTables = function () {
                var days = ['#ttmonday', '#tttuesday', '#ttwednesday', '#ttthursday', '#ttfriday'];
                forEachTimeTableExecute(function (timetable, i) {
                    renderTimeTable(timetable, days[i]);
                });
            };
            var fetchTimeTable = function () {
                resetTimeTable();
                fetchLocations();
                fetchTimeTableItems();
                renderTimeTables();
            };

            fetchTimeTable();
        }])
        .factory('TimeTableItemService', ['$resource', function ($resource) {
            return $resource('/api/timetable/item/:id', {id: '@id'});
        }])
        .factory('TimeTableLocationService', ['$resource', function ($resource) {
            return $resource('/api/timetable/location/:id', {id: '@id'});
        }])
        .factory('TimeTableOfTeacherService', ['$resource', function ($resource) {
            return $resource('/api/timetable/schedule/teacher/:id', {id: '@id'});
        }])
        .factory('TimeTableOfRoomService', ['$resource', function ($resource) {
            return $resource('/api/timetable/schedule/room/:id', {id: '@id'});
        }])
        .factory('TimeTableOfYearService', ['$resource', function ($resource) {
            return $resource('/api/timetable/schedule/year/:year', {year: '@year'});
        }]);
</script>
</body>

</html>